.card-button-cancel {
    background-color: yellow !important;
}


#cardSlider .mdc-slider__track--active_fill {
    border-color: yellow !important;
}

#cardSlider .mdc-slider__thumb-knob {
    border-color: yellow !important;
    background-color:yellow !important;
}
